<div class="navbar-item has-dropdown">
    <a class="navbar-link"> Search By Style </a>

    <div class="navbar-dropdown custom-navbar-dropdown">
        <a class="navbar-item" href="/style/1">
            3D render
        </a>
        <a class="navbar-item" href="/style/2">
            Abstract
        </a>
        <a class="navbar-item" href="/style/3">
            Anime
        </a>
        <a class="navbar-item" href="/style/4">
            Art deco
        </a>
        <a class="navbar-item" href="/style/5">
            Art nouveau
        </a>
        <a class="navbar-item" href="/style/6">
            Ballpoint pen
        </a>
        <a class="navbar-item" href="/style/7">
            Charcoal sketch
        </a>
        <a class="navbar-item" href="/style/8">
            Crayon
        </a>
        <a class="navbar-item" href="/style/9">
            Dadaism
        </a>
        <a class="navbar-item" href="/style/10">
            Disney
        </a>
        <a class="navbar-item" href="/style/11">
            Expressionism
        </a>
        <a class="navbar-item" href="/style/12">
            Impressionism
        </a>
        <a class="navbar-item" href="/style/13">
            Isometric 3D
        </a>
        <a class="navbar-item" href="/style/14">
            Nightmare Before Christmas
        </a>
        <a class="navbar-item" href="/style/15">
            Oil painting
        </a>
        <a class="navbar-item" href="/style/16">
            Pixar
        </a>
        <a class="navbar-item" href="/style/17">
            Pixel art
        </a>
        <a class="navbar-item" href="/style/18">
            Pop Art
        </a>
        <a class="navbar-item" href="/style/19">
            Roman mosaic
        </a>
        <a class="navbar-item" href="/style/20">
            Scientific diagram
        </a>
        <a class="navbar-item" href="/style/21">
            Stensil
        </a>
        <a class="navbar-item" href="/style/22">
            Storybook
        </a>
        <a class="navbar-item" href="/style/23">
            Studio Ghibli
        </a>
        <a class="navbar-item" href="/style/24">
            Ukiyo-e
        </a>
        <a class="navbar-item" href="/style/25">
            Watercolor
        </a>
    </div>
</div>