<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Search By Style
    </a>

    <div class="navbar-dropdown">
        <a class="navbar-item">
            3D render
        </a>
        <a class="navbar-item" href="/style/abstract">
            Abstract
        </a>
        <a class="navbar-item">
            Anime
        </a>
        <a class="navbar-item">
            Art deco
        </a>
        <a class="navbar-item">
            Art nouveau
        </a>
        <a class="navbar-item">
            Ballpoint pen
        </a>
        <a class="navbar-item">
            Charcoal sketch
        </a>
        <a class="navbar-item">
            Crayon
        </a>
        <a class="navbar-item">
            Dadaism
        </a>
        <a class="navbar-item">
            Disney
        </a>
        <a class="navbar-item">
            Expressionism
        </a>
        <a class="navbar-item">
            Impressionism
        </a>
        <a class="navbar-item">
            Isometric 3D
        </a>
        <a class="navbar-item">
            Nightmare Before Christmas
        </a>
        <a class="navbar-item">
            Oil painting
        </a>
        <a class="navbar-item">
            Pixar
        </a>
        <a class="navbar-item">
            Pixel art
        </a>
        <a class="navbar-item">
            Pop Art
        </a>
        <a class="navbar-item">
            Roman mosaic
        </a>
        <a class="navbar-item">
            Scientific diagram
        </a>
        <a class="navbar-item">
            Stensil
        </a>
        <a class="navbar-item">
            Storybook
        </a>
        <a class="navbar-item">
            Studio Ghibli
        </a>
        <a class="navbar-item">
            Ukiyo-e
        </a>
        <a class="navbar-item">
            Watercolor
        </a>
    </div>
</div>