<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Purple Waive</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
        <lord-icon src="https://cdn.lordicon.com/kvsszuvz.json" trigger="loop"
          colors="primary:#ebc6fe,secondary:#08a88a" stroke="80" scale="80" style="width:50px;height:50px">
        </lord-icon>
        <h1 class="title is-4"> purple wAIve</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-mobile">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div id="navbar-mobile" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/profile"> Profile </a>
        <a class="navbar-item" href="/create"> Create </a>
        {{#if loggedIn}}
        {{> styleSearch}}
        {{/if}}
      </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div class="justify-content:flex-end">
              {{#if loggedIn}}
              <a href="/" id="logoutBtn" class="button custom-button"> Log Out </a>
              {{else}}
              <a class="button custom-button" href="/login"> Log In </a>
              <a class="button custom-button" href="/signup"> Sign Up </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/js/index.js"></script>

  <script async src="https://static.addtoany.com/menu/page.js"></script>

</body>

<footer>
  <div class="content has-text-centered">
    <div>
      <p class="is-size-5 is-mobile">
        Credits: <br />
        <a href="https://github.com/chrischarlesgibson">Chris Gibson</a>,
        <a href="https://github.com/">Laura Duffy</a>,
        <a href="https://github.com/DraconMarius">Mari Ma</a>,
      </p>
      <a href="https://lordicon.com/">Animated icons by Lordicon.com</a>
    </div>
</footer>>

</html>