    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <figure class="image is-5by4" >
                    <img src="../public/assets/logo-clear-background.png" alt = "Purple Wave Logo">
                </figure>
            </div>
        </div>

<!-- Post #1 -->
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p> Post</p>
            </div>
        </div>
<!-- Post #2 -->
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p> Post</p>
            </div>
        </div>
<!-- Post #3 -->
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p> Post</p>
            </div>
        </div>
<!-- Post #4 -->
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p> Post</p>
            </div>
        </div>
<!-- Post #5 -->
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p> Post</p>
            </div>
        </div>
</div>