
<img class="image custom-image" src="./assets/logo-clear-background.png" alt="purple wAIve logo"/> </div>
<h1 class = "title is-3"> Login</h1> 

<div class="card">
  <form class="card-content" id="login-form">
    <div class="field">
      <label class="label">Email</label>
        <div class="control">
          <input id="email" class="input custom-input" type="email" placeholder="e.g. rockNroll@gmail.com" />
        </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
        <div class="control">
          <input id="pw" class="input custom-input" type="password" placeholder="at least 8 characters" />
        </div>
    </div>
    <br> 
    <div class="field is-grouped">
      <div class="control">
        <button id="loginBtn" class="button custom-button" type="submit"><strong>ride the wAIve</strong></button>
      </div>
      <br>
      <div class="control">
        <a href="/"><button class="button custom-button" type="button">abandon ship!</button></a>
      </div>
    </div>

  </form>
</div>

{{! modal that pops up if password or email are wrong }}
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head custom-modal-header"></header>
    <section class="modal-card-body custom-modal-body">
      <p id="user-valid"></p>
      <div class="level-right">
        <button class="button ok-btn custom-btn">OK</button>
      </div>
    </section>
  </div>
</div>
<script src="/js/login.js"></script>