.custom-navbar{
    background-color:#F2FAA3;
}

.custom-image{
    width: 360px;
    height: 218px;
    left: 511px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-input {
    background-color: #832593;
    opacity: 0.4; 
}